<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <title>校园服务平台</title>
  <!-- 引入样式 -->
  <link rel="stylesheet" href="./css/element.css">

  <link href="./css/shop-list.css?v=campus20260505c" rel="stylesheet">
  <link href="./css/main.css?v=campus20260505c" rel="stylesheet">

  <style type="text/css">

  </style>
</head>
<body>
<div id="app">
  <div class="header">
    <div class="header-back-btn" @click="goBack"><i class="el-icon-arrow-left"></i></div>
    <div class="header-title">{{displayTypeName}}</div>
    <div class="header-search" @click="goSearch">
      <i class="el-icon-search"></i>
    </div>
  </div>
  <div class="sort-bar">
    <div class="sort-item">
      <el-dropdown trigger="click" @command="handleCommand">
      <span class="el-dropdown-link">
        {{displayTypeName}}<i class="el-icon-arrow-down el-icon--right"></i>
      </span>
        <el-dropdown-menu slot="dropdown">
          <el-dropdown-item v-for="t in types" :key="t.id" :command="t">
            {{t.displayName || t.name}}
          </el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
    </div>
    <div class="sort-item" @click="sortAndQuery('')">
      距离 <i class="el-icon-arrow-down el-icon--right"></i>
    </div>
    <div class="sort-item" @click="sortAndQuery('comments')">
      热度 <i class="el-icon-arrow-down el-icon--right"></i>
    </div>
    <div class="sort-item" @click="sortAndQuery('score')">
      评分 <i class="el-icon-arrow-down el-icon--right"></i>
    </div>
  </div>
  <div class="shop-list" @scroll="onScroll">
    <div v-if="loaded && shops.length === 0" style="text-align:center;color:#999;padding:40px 0;">
      暂无相关服务点
    </div>
    <div class="shop-box" v-for="s in shops" :key="s.id" @click="toDetail(s.id)">
      <div class="shop-img"><img :src="s.images" alt="" onerror="this.onerror=null;this.src='/imgs/icons/default-icon.png'"></div>
      <div class="shop-info">
        <div class="shop-title shop-item">{{s.displayName || s.name}}</div>
        <div class="shop-rate shop-item" >
          <el-rate
              disabled v-model="s.score/10"
              text-color="#1f6f63"
              show-score
          ></el-rate>
          <span>{{s.comments}}条互动</span>
        </div>
        <div class="shop-area shop-item">
          <span>{{s.displayArea || s.area}}</span>
          <span v-if="s.distance">{{s.distance < 1000 ? s.distance.toFixed(1) + 'm' : (s.distance/1000).toFixed(1) + 'km'}}</span>
        </div>
        <div class="shop-avg shop-item">学生均价 ￥{{s.avgPrice}}/人</div>
        <div class="shop-address shop-item">
          <i class="el-icon-map-location"></i>
          <span>{{s.displayAddress || s.address}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="./js/vue.js"></script>
<script src="./js/axios.min.js"></script>
<!-- 引入组件库 -->
<script src="./js/element.js"></script>
<script src="./js/common.js?v=campus20260505c"></script>
<script>

  const app = new Vue({
    el: "#app",
    data: {
      util,
      isReachBottom: false,
      types: [], // 类型列表
      shops: [], // 商店列表
      typeName: "",
      displayTypeName: "",
      searchKeyword: "", // 搜索关键字
      hasMore: true,     // 是否还有下一页
      loaded: false,     // 是否已加载过
      params:{
        typeId: 0,
        current: 1,
        sortBy: "",
      }
    },
    created() {
      // 获取参数
      this.params.typeId = util.getUrlParam("type");
      this.typeName = util.getUrlParam("name");
      this.searchKeyword = util.getUrlParam("search");
      if (this.searchKeyword) {
        this.displayTypeName = "搜索结果：" + this.searchKeyword;
      } else {
        this.displayTypeName = campusTheme.serviceTypeMap[this.typeName] || this.typeName || "校园服务";
      }
      // 查询类型
      this.queryTypes();
      // 查询商店
      this.queryShops();
    },
    methods: {
      queryTypes() {
        axios.get("/shop-type/list")
          .then(({data}) => {
            this.types = campusTheme.decorateTypes(data);
          })
          .catch(err => {
            console.log(err);
            this.$message.error(err)
          })
      },
      queryShops() {
        const url = this.searchKeyword ? "/shop/of/name" : "/shop/of/type";
        const params = this.searchKeyword
          ? { name: this.searchKeyword, current: this.params.current }
          : this.params;
        axios.get(url, { params })
          .then(({data}) => {
            this.loaded = true;
            if (!data) {
              this.hasMore = false;
              return
            }
            data.forEach(s => {
              s.images = (s.images || '').split(',')[0];
              campusTheme.decorateShop(s);
            });
            this.shops = this.shops.concat(data);
            // 服务端每页 5 条：不足一页说明已到底
            this.hasMore = data.length >= 5;
          })
          .catch(err => {
            console.log(err);
            this.$message.error(err)
          })
      },
      // 头部搜索：输入关键字后跳转
      goSearch() {
        this.$prompt('输入服务点名称关键字', '搜索', {
          confirmButtonText: '搜索',
          cancelButtonText: '取消',
        }).then(({value}) => {
          const kw = (value || '').trim();
          if (!kw) return;
          location.href = campusTheme.page("/shop-list.html?search=" + encodeURIComponent(kw));
        }).catch(() => {});
      },
      handleCommand(t) {
        location.href = campusTheme.page("/shop-list.html?type="+t.id+"&name="+t.name);
      },
      sortAndQuery(sortBy) {
        // 排序：重置列表与页码，避免重复叠加
        this.shops = [];
        this.params.current = 1;
        this.params.sortBy = sortBy;
        this.hasMore = true;
        this.queryShops();
      },
      goBack() {
        history.back();
      },
      toDetail(id) {
        location.href = campusTheme.page("/shop-detail.html?id="+id)
      },
      onScroll(e) {
        let scrollTop = e.target.scrollTop;
        let offsetHeight = e.target.offsetHeight;
        let scrollHeight = e.target.scrollHeight;
        if(scrollTop + offsetHeight + 1 > scrollHeight && !this.isReachBottom && this.hasMore){
          this.isReachBottom = true
          this.params.current++
          this.queryShops();
        }else{
          this.isReachBottom = false
        }
      },
    }
  })
</script>
</body>
</html>
